*
{
        font-family: Poppins,sans-serif;
}
.homepage
{
        background-image: url(/Users/anuradhamageshkumar/Desktop/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg);
        width: 100%;
        height:100%;
        position: absolute;
        z-index: -1;
}
.logo
{
    z-index: 1;
    margin:20px 0 0 60px;
    animation: logoani 2s;

}
.introduction
{
    display: flex;
    margin:100px auto;
    
}
.introtext
{
        flex:1;
}
.introimage
{
        flex:1.4;
        width: 90%;
        animation: slide 1s;
}
.header
{
    display:flex;    
    align-items: center;
}
.introtext h1
{
        margin: 80px 10px 20px 40px;
        font-size: 3em;
}
.introtext p
{
        margin: 40px 70px 20px 40px;
}
.but1
{
    border-radius: 10px;
    width:180px;
    height:40px;
    text-align: center;
    font-size: large;
    background-color: white;
    box-shadow:0 0 2px;
    margin:20px 20px 10px 80%;
    position: absolute;
    font-family: Poppins,sans-serif;
}
.but1:hover
{
    background-color: chocolate;
    color: white;
}
.but2
{
        border-radius: 30px;
        background-color: violet;
        color: white;
        z-index: 3;
        margin-left: 40px;
        width: 30em;
        height: 5em;
        border-style: none;
        font-size: 0.8em;
        padding: 0;
        font-weight: bold;
}
.card
{
        display: flex;
        width:80%;
        height:200px;
        margin:60px 10% 40px 10%;
        justify-content: space-between;
        box-shadow: 0 0 3px;
        border-radius: 20px;
        padding: 30px 20px 30px 20px;
        animation:come-in 2s;

}
.card .text p
{
        color: rgba(48, 46, 46,0.8);
}
.card .text
{
        flex:1;
        margin-left: 30px;
        margin-top: 20px;

}
.card .img1
{
        flex:1;
        margin:auto;
        width: 50%;
        margin-left: 100px;

}
.checkbox
{
        
        margin: 180px 25% -5% 25%;
        height: 170px;
        width: 50%;
        background-color: rgb(255, 255, 255);
        align-items: center;
        border-radius: 25px;
        box-shadow: 0 0 1px;
        dis
}
.checkbox h1
{
        text-align: center;
        margin:auto;
        padding: 50px 0 20px 0;
}
.checkbox button
{
        border-radius: 25px;
        background-color: rgb(189, 34, 189);
        color: white;
        border-style: none;
        margin-left:32%;
        width: 40%;
        height: 28%;
        font-size: large;
}
.foot
{
        background-color: rgb(25, 25, 36);
        width:100%;
        height: 50%;
        position: absolute;
        z-index: -1;
}
.foot .image 
{
        margin: 50px 25% 30px 40px;
        filter: invert(100%);
}
@keyframes slide
{
        0%{
                transform: translateX(30px);
                opacity: 0;
        }
        100%{
                transform: translateX(0px);
                opacity: 1;
        }
}
@keyframes logoani
{
        0%{
                opacity: 0.2;
                border-image: auto;
                transform: translateY(-40px);
        }
        100%
        {
                display: inline;
        }
}
@media screen and (max-width:800px)
{
        .introduction
        {
                flex-direction: column;
        }
        .introtext button
        {
                margin: 10% 0 10% 5%;
        }
        .introimage
        {
                margin: auto;
        }
        .card
        {
                flex-direction: column;
                margin-top:40px ;
                height: auto;


        }
        .card .img1
        {
                width:200px;
        }
        .checkbox
        {
                width: 80%;
                margin:auto;
                align-items: center;
        }
        .foot
        {
                margin-top: -50px;
        }
        .but1
        {
                margin-left: 70%;
        }
}